.income{
    color: green;
}
.expense{
    color: red;
}

.newtranscation{
    margin: 29px auto;
}

.newtranscation label,input{
    margin: 12px 5px;
}
.newtranscation input{
    width: 200px;
}
#newnamel{
    padding-right: 15px;
}
#loggeduser{
    color: #164ac0;
    text-decoration: none;
    border: none;
    font-size:20px;
    padding: 10px;
    width: 50vw;
    font-weight: 700;
}
.logged{
    display: flexbox;
    float: right;
}
