
.newtranscation{
    margin: 29px auto;
}

.newtranscation label,input{
    margin: 3px 20px;
}
.newtranscation input{
    width: 400px;
}
#newnamel{
    padding-right: 15px;
}
#loggeduser{
    color: #164ac0;
    text-decoration: none;
    border: none;
    font-size:20px;
    padding: 10px;
    width: 50vw;
    font-weight: 700;
}
.logged{
    display: flexbox;
    float: right;
}

.container{
    margin:30px;
}
.income-expense{

    margin: 20px 0;
}